@font-face {
    font-family: "Antique_Wonders";
    src: url(Antique_Wonders.ttf);
}
@font-face {
    font-family: "Neon80";
    src: url(Neon.ttf);
}
*{
    margin: 0;
    padding: 0;
}
/*Navigation Bar*/

nav{
    display: flex;
    padding: 20px;
}
.logo img{
    width: 140px;
    height: 100px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 10px;
}
.menu a{
    color: black;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
.menu a:first-child{
    color: orangered;
}
.menu a:last-child{
    border: 2px solid black;
    background-color: aquamarine;
    border-radius: 30px;
    margin-bottom: 55px;
    padding: 9px 25px 9px 25px;
}

/*Hero section*/

.hero{
    width: 100%;
    height: 500px;
    display: flex;
    background: rgb(246,190,78);
    background: linear-gradient(153deg, rgba(246,190,78,1) 0%, rgba(244,154,189,1) 100%);
    align-items: center;
    justify-content: center;
    padding: 90px;
    margin-top: -160px;
}
.info{
    display: block;
}
.info img{
    width: 100px;
    height: 100px;
    margin-left: -90px;
}
.info h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 30px;
}
p{
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 0px 20px 0px ;
}
.info button{
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 55px;
    font-size: 20px;
    padding: 10px 50px 10px 50px;
}
.info button:hover{
    cursor: pointer;
    background-color: bisque;
}

/*Content*/

.content h2{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 45px;
    margin: 30px;
}
.steps{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.steps img{
    border: 2px solid black;
    background-color: aquamarine;
    width: 200px;
    height: 200px;
    margin: 20px;
}
/*Divider*/
hr.solid {
    border-top: 2px solid black;
    border-radius: 5px;
    margin: 50px 80px 50px 80px;
    opacity: 30%;
  }

/*Alternatives*/
.other h3{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
}
.other p{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
}
.locations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.locations img{
    border: 2px solid black;
    background-color: aqua;
    width: 100px;
    height: 50px;
    margin-left: 50px;
    
}

/*Footer*/
.footer{
    width: 100%;
    height: 90px;
    display: flex;
    background: rgb(246,190,78);
    background: linear-gradient(153deg, rgba(246,190,78,1) 0%, rgba(244,154,189,1) 100%);
    align-items: center;
    justify-content: center;
}


