@font-face {
    font-family: "Antique_Wonders";
    src: url(Antique_Wonders.ttf);
}
@font-face {
    font-family: "Neon80";
    src: url(Neon.ttf);
}
*{
    margin: 0;
    padding: 0;
}
body{
}
/*Navigation Bar*/

nav{
  /* background: rgb(246,190,78);
    background: linear-gradient(153deg, rgba(246,190,78,1) 0%, rgba(244,154,189,1) 100%);
    -webkit-mask-image:-webkit-gradient(linear, left top, left bottom, 
        from(rgba(0,0,0,1)), to(rgba(0,0,0,0)));*/
    display: flex;
    padding: 20px;
    z-index: -1;
}
.logo img{
    width: 140px;
    height: 100px;
}
.menu{
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: 20px;
    margin-top: 40px;
}
.menu a{
    color: black;
    padding: 20px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif
}
.menu a:first-child{
    color: pink;
}
.menu a:last-child{
    border: 1px solid black;
    background-color: #f6be4e;
    border-radius: 30px;
    margin-bottom: 55px;
    padding: 9px 25px 9px 25px;
    font-family: Neon80;
}
.menu a:last-child:hover{
    background-color: #fbdda0;
}
.checkbtn{
    font-size: 30px;
    color: black;
    float: right;
    line-height: 80px; 
}
#check{
    display: none;
}

/*Hero section*/


.header{
    z-index: 5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
}
.col1 img{
    width: 300px;
}
@media(max-width:768px){
    .col1 img{
        width:200px;
    }
}
.col3 button{
    z-index: 10;
    border: 1px solid black;
    background-color: white;
    border-radius: 30px;
    margin-bottom: 55px;
    font-family: Antique_Wonders;
    font-size: 20px;
    padding: 10px 50px 10px 50px;
    margin-top: 30px;
    cursor: pointer;
}
.col3 button:hover{
    cursor: pointer;
    background-color: rgb(196, 198, 255);
}
.col2 h3{
    font-family: Neon80;
}
.hero{
    position: relative;
    background: url(images/background.png) no-repeat;
    background-size: cover;
    background-position: center;
    height: 70vh;
    margin-top: auto;
}

/*Popup*/
#popup {
    display: none;
    position: absolute;
    top: 450px;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: white;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    z-index: 200;
}
#popup2 {
    display: none;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.25);
    width: 250px;
    height: 100px;
    padding: 20px 30px;
    background: rgb(164, 124, 124);
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 10px;
    z-index: 200;
}

#popupclose, #popupclose2 {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    background: grey;
    color: white;
    text-align: center;
    line-height: 15px;
    border-radius: 15px;
    cursor: pointer;
}
#popup .form h2{
    text-align: center;
    color: #222;
    margin: 10px 0p 20px;
    font-size: 25px;
}
#popup .form .form-element{
    margin: 15px 0px;
}
#popup .form .form-element label{
    font-size: 14px;
    color: #222;
}
#popup .form .form-element input[type="text"],
#popup .form .form-element input[type="password"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #aaa;
    border-radius: 5px;
}
#popup .form .form-element input[type="checkbox"]{
    margin-right: 5px;
}
#signin-btn{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #222;
    border-radius: 10px;
    cursor: pointer;
}
.popupcontent {
    padding: 10px;
}

#button {
    cursor: pointer;
}

/*Content*/
.info-container{
    position: absolute;
    top: 800px;
    left: 10%;
}
.steps-container{
    position: absolute;
    top: 1250px;
    left: 100px;
    display: inline-block;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;
}
.steps-container h2{
    font-family: Antique Wonders;
    color: orangered;
    text-align: center;
}
.steps-container img{
    width: 200px;
}

/*Divider*/
hr.solid {
    border-top: 2px solid black;
    border-radius: 5px;
    margin: 50px 80px 50px 80px;
    opacity: 30%;
  }

/*Alternatives*/
.other h3{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    font-family: Neon80;
    font-size: 24px;
}
.other p{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 40px;
}
.locations{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-bottom: 100px;
}
.locations img{
    width: 100px;
    height: 50px;
    margin-left: 100px;
    
}

/*Footer*/
.footer{
    width: 100%;
    height: 90px;
    display: flex;
    background: rgb(246,190,78);
    background: linear-gradient(153deg, rgba(246,190,78,1) 0%, rgba(244,154,189,1) 100%);
    align-items: center;
    justify-content: center;
}
@media screen and (max-width:768px){
    .checkbtn{
        display: block;
    }
    .menu{
        position: absolute;
        right: -20px;
        height: 92vh;
        top: -10px;
        background-color: pink;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 40%;
        transform: translateX(100%);
    }
    #check:checked ~ a{
        left: 0;
    
    }
}


